.solicitacaoButton{
  border: none;
  border-radius: 0.6rem;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  height: 5.5rem;
  padding: 2rem;
  transition: background-color 2s;
}
