.loginButtonText{
  background-color: transparent;
  border: none;
  color: var(--color-grey4);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: var(--size-1);
  text-align: center;
  text-decoration: underline;
  transition: color .5s;

  @media(min-width: 768px){
    font-size: 1.6rem;
    text-decoration: none;

    &:hover{
      color: var(--color-blue2);
    }
  }
}
