.breadcrumb{

  &__wrapper{
    padding: 3.2rem 0 0.4rem 0;
  }

  &__list{
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
  }

  &__item{
    &__home{
      background: url("../../assets/Breadcrumb/icon-home.svg");
      cursor: pointer;
      display: inline-block;
      height: 1.575rem;
      text-indent: -9999px;
      width: 1.4rem;
    }

    &__page,
    &__activepage{
      font-size: 1.4rem;
      font-weight: 400;

    &::before{
      background: url("../../assets/Breadcrumb/icon-arrow.svg") no-repeat;
      display: block;
      height: 1rem;
      width: 0.6rem;
    }
    }

    &__page{
      color: var(--color-grey2);
      cursor: pointer;
      display: inline-block;
    }

    &__activepage{
      color: var(--color-black);
    }
  }
}
