.page{
  &__wrapper{
    display: flex;
    width: 100vw;
  }

  &__content{
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}

.main {
  &__wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    border: 1px solid blue;
  }

  &__content{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 46%;
    width: 79%;
  }
}
