.loginButton{
  border: none;
  border-radius: 0.6rem;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  height: 4.5rem;
  margin-bottom: var(--size-3);
  width: 12.7rem;
  transition: background-color 2s;

  @media(min-width: 768px){
    font-size: 1.6rem;
    height: 5.5rem;
    margin-bottom: var(--size-2);
    padding: 2rem;
  }
}
