.navbar{
  &__wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
  }

  &__content{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }
}

.menu{
  &__button{
    background-color: var(--color-blue2);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    height: 4.5rem;
    transition: background-color .5s;
    width: 4.8rem;

    &:hover{
      background-color: var(--color-blue1);
    }
  }

  &__icon{
    display: block;
    height: 2.4rem;
    margin: 0 auto;
    width: 2.4rem;
  }
}

.userTools__wrapper{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 39.6rem;
  justify-content: space-between;
}

.user{
  &__button{
      background-color: var(--color-white);
      border: none;
      cursor: pointer;
      display: block;
      height: 4.8rem;
      transition: opacity .5s;
      width: 4.8rem;

      &:hover{
        opacity: 0.75;
      }
    }

  &__icon{
    display: block;
    margin: 0 auto;
  }
}

.tools{
  &__wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 22.8rem;
    justify-content: space-between;
  }

  &__button{
    background-color: var(--color-blue2);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    height: 4.5rem;
    transition: background-color .5s;
    width: 4.8rem;

    &:hover{
      background-color: var(--color-blue1);
    }
  }

  &__icon{
    display: block;
    height: 2.4rem;
    margin: 0 auto;
    width: 2.4rem;
  }
}

.exit{
  &__wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 22.8rem;
    justify-content: space-between;
  }

  &__button{
    background-color: var(--color-grey3);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    height: 4.5rem;
    transition: background-color .5s;
    width: 4.8rem;

    &:hover{
      background-color: var(--color-grey4);
    }
  }

  &__icon{
    display: block;
    height: 2.4rem;
    margin: 0 auto;
    width: 2.4rem;
  }
}
