.page{
  &__wrapper{
    display: flex;
    width: 100vw;
  }

  &__content{
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}

.aside__wrapper{
  heigth: 100vh;
  width: 5%;
}

.main {
  &__wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    border: 1px solid blue;
  }

  &__content{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 46%;
    width: 51.25%;
  }
}

.infos{
  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
  }

  &__title{
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.services{
  &__wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__card{
    align-items: center;
    border: 0.08rem solid var(--color-grey2);
    border-radius: 0.6rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 20.9rem;
    justify-content: center;
    transition: border .5s        ;
    width: 31.5%;

    &:hover{
      border: 0.08rem solid var(--color-grey5);
    }
  }

  &__title{
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 2.541rem;
    text-align: center;
  }
}
