.login{
  &__wrapper{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

  &__background{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 65%;
}

  &__content{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 35%;
  }

  &__contentWrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--size-4);
    justify-content: center;
    width: 36.8rem;
  }

  &__texts{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__brand{
    background: url("../../assets/Login/wilson_sons_brand.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 5.23rem;
    line-height: 1;
    margin-bottom: var(--size-3);
    text-indent: -9999px;
    width: 11.62rem;
  }

  &__welcome{
    color: var(--color-grey4);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.873rem;
    margin-bottom: var(--size-2);
    text-align: center;
  }

  &__systemName{
    color: var(--color-blue2);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.936rem;
    text-align: center;
  }
}

.buttons{
  &__wrapper{
    align-items: center;
    display: flex;
    gap: var(--size-2);
    justify-content: center;
  }
}
