.login{
  &__wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  &__background{
    width: 65%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__content{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 35%;
  }

  &__contentWrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3.2rem;
    justify-content: center;
    width: 36.8rem;
  }

  &__texts{
    align-items: center;     ;
    display: flex;
    flex-direction: column;
  }

  &__brand{
    background: url("../../assets/Login/wilson-sons-brand.svg");
    display: inline-block;
    height: 5.23rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    text-indent: -9999px;
    width: 11.62rem;
    border: 1px solid red;
  }

  &__welcome{
    color: #23282F;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.873rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  &__systemName{
    color: #0844C4;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.936rem;
    text-align: center;
  }
}

.buttons{
  &__wrapper{
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
